@model IList<User>

<div class="container mt-4">

    <div class="d-flex align-items-center mb-3 justify-content-between">
        <h4>User List</h4>
        <div>
            <a href="@Url.Content("~/User/AddUser")" class="btn btn-primary">
                Add User
            </a>
        </div>
    </div>

    <div class="container-fluid">
        <table id="userGrid"></table>
        <div id="userPager"></div>
    </div>


</div>

@section Scripts {
    <script src="@Url.Content("~/js/userList.min.js")" asp-append-version="true"></script>
}

