@model IList<LMS.Models.User>

<div class="container-fluid mt-4 px-4">
    <div class="d-flex justify-content-between mb-3">
        <h4>User List</h4>
        <button class="btn btn-primary" onclick="openAddUserModal()">Add User</button>
    </div>

    <table id="userGrid"></table>
    <div id="userPager"></div>
</div>

@await Html.PartialAsync("_UserModal", new LMS.Models.User
{
    RoleList = ViewBag.Roles
})

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/userList.min.js"></script>
}
