@{
    ViewData["Title"] = "Menu Permissions";
}

@Html.AntiForgeryToken()

<div class="container-fluid px-2">

    <div class="d-flex justify-content-between align-items-center mb-2">
        <h4 class="mb-0">Permission List</h4>

        <div class="d-flex align-items-center gap-2">
            <button type="button"
                    class="btn-excel"
                    id="excelDownload"
                    data-grid="menuPermissionGrid"
                    data-file="MenuPermissions"
                    title="Excel Download">
                <img src="~/assets/images/icons/excel.png" class="excel-icon" />
                <i class="bi bi-download"></i>
            </button>

            <button type="button"
                    class="btn btn-sm btn-primary btn-menu"
                    onclick="openAddMenuPermissionModal()">
                Add Permission
            </button>
        </div>
    </div>

    <div class="card">
        <div class="card-body p-1">
            <table id="menuPermissionGrid"></table>
            <div id="menuPermissionPager"></div>
        </div>
    </div>

</div>

@await Html.PartialAsync("_PermissionModal", new LMS.Models.MenuPermission())

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/menuPermissionList.min.js"></script>
}
