
.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
    letter-spacing: 1px;
}

.navbar-nav .nav-link {
    padding-right: 10px;
    font-size: 15px !important;
}

.navbar-nav .nav-link:hover {
    color: #ffc107 !important;
}


#notification {
    font-weight: 500;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
    animation: fadeInOut 4s forwards;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    10% {
        opacity: 1;
        transform: translateY(0);
    }

    90% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(-20px);
    }
}

footer.footer {
    padding: 0.8rem 0;
    background-color: #f8f9fa;
    text-align: center;
    font-size: 0.9rem;
    color: #6c757d;
}


.container main {
    margin-top: 20px;
}


tr.jqgrow td {
    white-space: nowrap !important;
}