.nav-link:hover{
    color:dodgerblue !important;
}

.nav-link {
    color: white !important;
}

th {
    background-color: darkcyan !important;
    color: white !important;
    letter-spacing: 2px;
    font-weight: bold;
}

