body {
    min-height: 100vh;
    background-color: lightseagreen;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-card {
    width: 100%;
    max-width: 380px;
    padding: 40px 30px;
    background-color: aliceblue;
    border-radius: 10px;
}

.avatar {
    width: 50px;
    height: 50px;
    border: 2px solid #0d6efd;
    border-radius: 50%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .avatar i {
        color: #0d6efd;
        font-size: 36px;
    }

.floating-group {
    position: relative;
    margin-top: 35px;
}

.floating-input {
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid #0d6efd;
    padding: 10px 0;
    color: #000;
    font-size: 15px;
}

    .floating-input:focus {
        outline: none;
        border-bottom-color: #0a58ca;
    }

.floating-group label {
    position: absolute;
    top: 10px;
    left: 0;
    color: #0d6efd;
    font-size: 14px;
    transition: 0.3s;
    pointer-events: none;
}

.floating-input:focus + label,
.floating-input:not(:placeholder-shown) + label {
    top: -12px;
    font-size: 12px;
    color: #0d6efd;
}

.input-icon {
    position: absolute;
    right: 0;
    top: 10px;
    color: #0d6efd;
    font-size: 16px;
}

.btn-login {
    margin-top: 35px;
    border-radius: 30px;
    padding: 10px;
}

.toggle-password {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #0d6efd;
    font-size: 1.1rem;
}

    .toggle-password:hover {
        color: #0d6efd;
    }
