<h3>Loans</h3>

@Html.AntiForgeryToken()

<div class="container-fluid">
    <table id="loanGrid"></table>
    <div id="loanPager"></div>
</div>


<div class="modal fade" id="loanDetailsModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Loan Details</h5>
                <button class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body" id="loanDetailsBody"></div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/loan.js"></script>
}
