<div class="container-fluid mt-4 px-4">
    <div class="d-flex justify-content-between mb-3">
        <h4>Role List</h4>
        <button class="btn btn-primary" onclick="openAddRoleModal()">Add Role</button>
    </div>

    <table id="roleGrid"></table>
    <div id="rolePager"></div>
</div>

<form method="post">
    @Html.AntiForgeryToken()
</form>

@await Html.PartialAsync("_RoleModal", new LMS_API.Models.Role())

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/roleList.js"></script>
}
