@model IList<LMS_API.Models.Role>

<div class="container mt-4">

    <form id="antiForgeryForm" method="post">
        @Html.AntiForgeryToken()
    </form>

    <div class="d-flex align-items-center mb-3 justify-content-between">
        <h4>Role List</h4>
        <div>
            <a href="@Url.Content("~/Role/AddRole")" class="btn btn-primary">
                Add Role
            </a>
        </div>
    </div>

    <div class="container-fluid">
        <table id="roleGrid"></table>
        <div id="rolePager"></div>
    </div>

</div>

@section Scripts {
    <script src="@Url.Content("~/js/roleList.min.js")" asp-append-version="true"></script>
}
