<div class="container-fluid mt-4 px-4">
    <div class="d-flex justify-content-between mb-3">
        <h4>Publisher List</h4>
        <button class="btn btn-primary" onclick="openAddPublisherModal()">Add Publisher</button>
    </div>

    <table id="publisherGrid"></table>
    <div id="publisherPager"></div>
</div>

<form method="post">
    @Html.AntiForgeryToken()
</form>

@await Html.PartialAsync("_PublisherModal", new LMS.Models.Publisher())

@section Scripts {
    <script src="~/js/publisherList.js"></script>
}
