@model IList< Book >

<div class="container-fluid mt-4 px-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h4 class="mb-0">Book List</h4>

        <div class="d-flex align-items-center gap-2">
            <button type="button"
                    class="btn-excel"
                    id="excelDownload"
                    data-grid="bookGrid"
                    data-file="BookList"
                    title="Excel Download">
                <img src="~/assets/images/icons/excel.png" class="excel-icon" />
                <i class="bi bi-download"></i>
            </button>



            <button class="btn btn-primary" onclick="openAddModal()">Add Book</button>
        </div>
    </div>

    <table id="bookGrid"></table>
    <div id="bookPager"></div>
</div>


@await Html.PartialAsync("_BookModal", new Book
{
    PublisherList = ViewBag.Publishers,
        CategoryList = ViewBag.Categories
})

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/bookList.min.js"></script>
}
