@model IList< Book >

<div class="container-fluid mt-4 px-4">
    <div class="d-flex justify-content-between mb-3">
        <h4>Book List</h4>
        <button class="btn btn-primary" onclick="openAddModal()">Add Book</button>
    </div>
    <table id="bookGrid"></table>
    <div id="bookPager"></div>
</div>

@await Html.PartialAsync("_BookModal", new Book
{
    PublisherList = ViewBag.Publishers,
        CategoryList = ViewBag.Categories
})

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/bookList.min.js"></script>
}
