@{
    ViewData["Title"] = "Category List";
}

<div class="container-fluid mt-4 px-4">
    <div class="d-flex justify-content-between mb-3">
        <h4>Category List</h4>
        <button class="btn btn-primary" onclick="openAddCategoryModal()">
            Add Category
        </button>
    </div>

    <table id="categoryGrid"></table>
    <div id="categoryPager"></div>
</div>

<form method="post">
    @Html.AntiForgeryToken()
</form>

@await Html.PartialAsync("_CategoryModal", new LMS.Models.Category())

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/categoryList.js"></script>
}
    